
/*All devices and mobile phone*/
*{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-family: 'Karla', sans-serif;
}

header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	position: relative;
}
/*-----------------------------logo----------*/
.logo {
	flex: 0 0 auto;
	padding: 1em 1em;
}
.logo>img {
	width: 11em; 
}

/*-------------------------------bars----------*/
.bars {
	flex: 0 0 auto;
	margin-right: 2em;
}
.bars i {
	font-size: 1.3em;
	margin-top: 1em;
}

/*-------------------------------------nav----------*/
.nav {
	/*flex: 0 0 100%;*/
	background-color: #053F59;
	display: none;
	top: 100%;
	left: 0;
	width: 100%;
	position: absolute;
	z-index: 100;
}
.nav>li {
	padding: 0.5em;
}
.nav>li>a{
	display: inline-block;
	position: relative;
	line-height: 2em;
	text-decoration: none;
	color: #fff;
	/*margin: 1em 2em;*/
	font-size: 20px;
}
.nav>li>a:before{
	position: absolute;
	content: '';
	left: 0;
	right: 0;
	width: 0;
	height: 100%;
	border-bottom: 2px solid #F9E1CF;
	transition: 0.3s all ease-in-out;
}
.nav>li>a:hover{
	color: #F9E1CF;
}

.nav>li>a:hover:before{
	color: #F9E1CF;
	width: 100%;
}

/*-------------------------------- Section 1 ----------*/

.banner {
	text-align: center;
}
.banner .content {
	background-size: cover;
	background-position: unset;
	background-repeat: no-repeat;
	/*padding: 8em 0em;*/
	box-sizing: border-box;
	height: 20em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner .content>div{
	flex: 0 0 80%;
	/*border:1px red solid;*/
}

.banner .content.content-1 {
	background-image: url(../img/banner.jpg);
}
.banner .content.content-2 {
	background-image: url(../img/banner2.jpg);
}
.banner .content.content-3 {
	background-image: url(../img/banner3.jpg);
}
.banner .content h1,
.banner .content p {
	color: #fff;
}
.banner .content h1 {
	margin: 1em 0em;
	font-size: 2em;
}
.banner .content p {
	font-size: 1em;
}

/*-------------------------------- Arrows ----------*/

.slick-arrow {
	z-index: 1;
	width: auto !important;
}
.slick-arrow:before {
	font-size: 45px;
}
.slick-arrow.slick-prev {
	left: 10px;
}
.slick-arrow.slick-next {
	right: 10px;
}

/*------------------------------ GetStarted ----------*/
.actions {
	margin-top: 2em;
	display: inline-block;
	background-color: red;

}
.button {
	background-color: #fff;
	padding: 2px;
	border-radius: 5px;
}
.content a {
	text-decoration: none;
	padding: 10px;
	color: #053F59;
	background-color: #F9E1CF;
	font-size: 16px;
	font-weight: bold;
}
.content a:hover {
	text-decoration: none;
	padding: 10px;
	color: #F9E1CF;
	background-color: #053F59;
	font-size: 16px;
	font-weight: bold;
}


/*----------------------------- Section 2 ----------*/

.wrapper {
	padding: 3em 0 1em 0;
}
.wrapper .inner {
	margin-bottom: 2em
	display: flex;
	flex-flow: column;
}
.wrapper .inner .flex-item {
    text-align: center;
}    

.wrapper .inner .flex-item h3 {
	color: #053F59;
	font-weight: bolder;
	font-size: 1.5em;
	display: inline-block;
	position: relative;
	line-height: 1.2em;
	text-decoration: none;
}
.wrapper .inner .flex-item h3:before {
	position: absolute;
	content: '';
	left: 0;
	right: 0;
	width: 0;
	height: 100%;
	border-bottom: 2px solid #053F59;
	transition: 0.3s all ease-in-out;
}
.wrapper .inner .flex-item h3:hover:before{
	color: #F9E1CF;
	width: 100%;
}
.wrapper .inner .flex-item p {
	margin-bottom: 2em;
	box-sizing: border-box;
	padding:0.3em 6em;
	/*flex: 0 0 50%;*/
}    
.image img {
    /*display: block;*/
    max-width: 260px;
    width: 100%;
    border-radius: 100%;
}
.image {
	padding-bottom: 2em;
}

/*---------------------------- Section 3 ----------*/

.wrapper2 {
	padding: 2em 0 4em 0;
}
.wrapper2.style1 {
	background: #053F59;
    text-align: center;
}
.wrapper2 .inner .quote {
	font-size: 1em;
}
.wrapper2 .inner img {
	width: 15em;
	padding-top: 0.5em;
}
.wrapper2 .inner blockquote {
	color: darkgray;
	padding: 1em 3em;
	line-height: 1.3em;
}

/*---------------------------- Section 4 ----------*/
.wrapper3 {
	background-color: #fff;
	padding: 2em 0 4em 0;

}
.wrapper3 .inner2 {
	flex-wrap: wrap;

}
.wrapper3 h2 {
	text-align: center;
	font-size: 2em;
	color: #053F59;
	padding-bottom: 1em;
}
.wrapper3 h3 {
	text-align: center;
	padding: 0.6em 0;
	font-size: 22px;
	color: #424242;
}
.box {
	border-radius: 4px;
    border: solid 2px #dee1e3;
    margin-bottom: 2em;
    width: 30em;
    height: 25em;
    margin: auto;  
}

.work-img img{
	display: block;
	width: 100%;
	height: 250px;
}
.content2 {
	text-align: center;
}
.content2 p {
	color: #424242;
}

.content2 a  {
	color: #053F59;
}

/*---------------------------- Footer ----------*/

#footer {
	background: #053F59;
    text-align: center;
    padding: 3em 0 3em 0;
}

#footer a {
	color: darkgray;
    text-decoration: none;
}
#footer h2 {
	color: #FC9F3E;
	padding-bottom: 1em;
}
#footer li {
	font-size: 18px;
}
#footer li:last-child {
	font-size: 18px;
	padding-bottom: 2em;
}
#footer i {
	color: #F9E1CF;
}
#footer p {
	display: inline-block;
	color: darkgray;
}
#footer .copyright {
	display: inline-block;
    color: #a7d9e7;
    font-size: 0.75em;
    border-top: 1px solid #F9E1CF;
    padding: 2em 10em;
}




/*for small tablet - inclusive*/
/*640px*/

@media only screen and (min-width : 40em) {
	.banner .content {
		/*padding: 10em 0;*/
	}
}





/*for tablet - inclusive*/
/*960px*/
@media only screen and (min-width : 850px) {

	.bars{
		display: none;
	}
	.nav{
		display: flex;
		position: static;
		width: auto;
		height: auto;
		padding-top: 0;
		background-color: #fff;
		padding-top: 1.5em;
	}
	.nav>li>a{
		color: #053F59;
		padding: 0 0.3em;
	}
	.nav>li>a:before{
		position: absolute;
		content: '';
		left: 0;
		right: 0;
		width: 0;
		height: 100%;
		border-bottom: 2px solid #FC9F3E;
		transition: 0.3s all ease-in-out;
	}
	.nav>li>a:hover{
		color: #FC9F3E;
	}

	.nav>li>a:hover:before{
		color: #FC9F3E;
		width: 100%;
	}
	.banner .content {
   		padding: 14em 0 14em 0;
	}
	.wrapper {
   		padding: 6em 0 3em 0;
	}
	.wrapper .inner {
		margin-bottom: 2em;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
	}
	.wrapper .inner .flex-item:nth-child(1),
	.wrapper .inner .flex-item:nth-child(3){
		width: 50%;
	}

	.wrapper2 {
    	padding: 4em 0 6em 0;
	}
	.wrapper2 .inner blockquote {
   		color: darkgray;
    	padding: 1em 11em;
   		line-height: 1.3em;
	}

	.wrapper3 .inner2 {
  	 	/* flex-wrap: wrap; */
   		margin: auto;
   		flex-flow: row nowrap;
   		display: flex;
	}
	.box {
   	 border-radius: 4px;
   	 border: solid 2px #dee1e3;
   	 margin-bottom: 2em;
   	 width: 30em;
   	 height: 25em;
   	 padding: 0 1;
   	 margin: 1em;
	}
}



/*for destop - inclusive*/
/*1280px*/
@media only screen and (min-width : 80em) {

	.banner .content {
		padding: 14em 0 12em 0;
	}
}
